build/

# live preview - english
en/mkdocs.yml
en/docs/assets/favicon.ico
en/docs/assets/logo.png
en/docs/.authors.yml
# live preview - spanish
es/mkdocs.yml
es/docs/assets/favicon.ico
es/docs/assets/logo.png
es/docs/.authors.yml
en/docs/blog/.authors.yml
es/docs/blog/.authors.yml
