---
import { getUniqueTags } from '~/utils/blog';
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';

export const prerender = true;

const tagsList = await getUniqueTags();

const metadata = {
  title: 'Tags',
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Tags</Headline>
    <p class="my-4">
        Here's a list of all the tags used on the site.
    </p>
    <ul>
      {tagsList.map((tag) => (
        <li class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-0.5 px-2 lowercase font-medium">
          <a
            href={`/tag/${tag.tag}`}
            class="text-muted dark:text-slate-300 hover:text-primary dark:hover:text-gray-200"
          >
            {tag.tag} <span class="bg-gray-800 rounded-md text-xs ml-1 p-1">{tag.count}</span>
          </a>
        </li>
      ))}
    </ul>
  </section>
</Layout>
