{{ define "main" }}
  <h1 class="jumbotron">{{ .Title }}</h1>
  <div class="list-content">
    {{ .Content }}
  </div>

  {{ if (gt (len (.Sections)) 0) }}
    <h2>Sections</h2>
    {{ range sort .Sections ".Params.Title" }}
    {{ $numPosts := len (where .Site.RegularPages "Section" "==" (strings.Replace .RelPermalink "/" "") )}}
    <div><a href="{{ .RelPermalink }}">{{.Title}} ({{$numPosts}})</a></div>
    {{ end }}
  {{ end }}

  {{ $all_posts := cond (eq .RelPermalink "/") (where .Site.RegularPages ".Params.unlisted" "!=" "true") (where .RegularPagesRecursive.ByDate ".Params.unlisted" "!=" "true") }}
  
  {{ $pages := (.Paginate $all_posts).Pages }}
  <h2>Posts ({{ len $all_posts }})</h2>
  {{ range $pages }}
    <div class="page-in-list">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ if .Params.Date }}{{ dateFormat "January 2, 2006" .Params.Date }}{{ end }}
    </div>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}

