{{ define "pre-main" }}
    {{ if isset .Params "featured_image" }}
        <div class="article-hero">
            <div class="featured-image">
                <img src="{{ .Params.Featured_Image }}" alt="{{ .Params.Featured_Image_Alt }}" />
            </div>
            {{ if ne .Params.Show_Title false }}
                <h1 class="single-title">{{ .Title }}</h1>
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ define "main" }}

    {{ if not (isset .Params "featured_image") }}
        {{ if ne .Params.Show_Title false }}
            <h1 class="single-title">{{ .Title }}</h1>
        {{ end }}
    {{ end }}

    <div class="article-info">
        {{ if .Params.Date }}
        <p class="date">{{ dateFormat "January 2, 2006" .Params.Date }}</p>
        {{ end }}
    </div>

    <div class="article-content">
        {{ .Content }}
    </div>

{{ end }}