html, body {
    height: 100%;
    padding: 0;
}
/** landing page **/
main {
    overflow-x: hidden;
}
.slide-icon {
    width: 8em;
    margin-bottom: 1em;
}
.slide-bg {
    opacity: 0.35;
    height: 100%;
}
.carousel-item {
    background-color: #777;
}
.rounded-circle {
    background-color:#777;
    width: 140px;
    height: 140px;
    margin: auto;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}
.rounded-circle > img {
    width: 50%;
    display: block;
    margin: auto;
}  
.my-feature-image {
    width: 100%;
}
.my-feature-image img {
    width: 75%;
    height: inherit;
}

.social-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.social-nav ul li {
    display: block;
    /* padding: 1.5em; */
    margin: 4rem 1rem;
    margin-top: 0;
    width: 3rem;
    height: 3rem;
}
.social-nav ul li a {
    width: inherit;
    height: inherit;
    display: block;
}
.social-nav ul li a img {
    width: inherit;
    height: inherit;
}