---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

body {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  border-bottom: 1px solid #e8e8e8;
  font-size: 2em;
  padding-top: 0.5em;
}
h1.post-title {
  border-bottom: none;
}

h2, .post-content h2 {
  font-size: 1.5em;
}

.wrapper a img {
  width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
}

header {
  font-family: 'Oswald',sans-serif;
}

#signup {
  display: none;
}

div.signup {

}
form.signup {
  input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0.5em;
    width: 95%;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }
  input[type=submit] {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
}
