html, body {
    height: 100%;
    padding: 0;
}
/** landing page **/
#landing-page {
    overflow-x: hidden;
}
#landing-page #site-title {
    background-color: white;
    text-align: center;
    padding: 15px;
    height: 7em;
}

.social-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.social-nav ul li {
    display: block;
    /* padding: 1.5em; */
    margin: 4rem 1rem;
    margin-top: 0;
    width: 3rem;
    height: 3rem;
}
.social-nav ul li a {
    width: inherit;
    height: inherit;
    display: block;
}
.social-nav ul li a img {
    width: inherit;
    height: inherit;
}



/** blog **/
#header-wrapper {
    background-color: lightgray;
    padding: 20px 0;
}
header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
header div#site-title {
    height: inherit;
}
#site-title img {
    height: 100%;
}
header nav a {
    padding: 1.5em;
    font-size: 1.1rem;
}
header nav a.active {
    text-decoration: underline;
}