---
import Layout from '~/layouts/PageLayout.astro';
import SearchField from "~/components/SearchField.astro";

const metadata = {
    title: 'Search',
};
---
<Layout metadata={metadata}>
  <div class="m-4">
    <SearchField />
  </div>
</Layout>
