---
import { SITE } from 'astrowind:config';

---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <span id="pks-daily-emoji">ðŸ”‘</span> {SITE?.name}
</span>

<script is:inline>
  function getDailyEmoji() {
    var currentDateInMillis = Date.now();
    var currentDaySinceEpoch = Math.floor(currentDateInMillis / (1000 * 60 * 60 * 24));
    const emojis = [
      'ðŸ“„',
      'ðŸ”‘',
      'ðŸŒ©',
      'ðŸ—£',
      'ðŸš',
      'ðŸ›Ž',
      'ðŸ˜³',
      'ðŸ‹',
      'ðŸ“ˆ',
      'ðŸš€',
      'ðŸ›°ï¸',
      'ðŸ“¢',
      'ðŸ˜',
      'ðŸ†',
      'ðŸ”‹',
      'ðŸ¦€',
      'ðŸ',
      'ðŸ‡',
      'ðŸ’¿',
      'â›°',
      'ðŸ§',
      'ðŸŽˆ',
    ];
    const dailyEmoji = emojis[currentDaySinceEpoch % emojis.length];
    return dailyEmoji;
  }
  window.addEventListener("DOMContentLoaded", () => {
    document.getElementById('pks-daily-emoji').innerHTML = getDailyEmoji();
  });
</script>
