.RecentPostsList {
    max-width: 900px;
    margin: auto;
    padding: 1em;
}
.RecentPostsList .avatar {
    display: none; /* hide author, for now */
}
.RecentPostsList footer {
    display: none;
}
.RecentPostsList article {
    margin-bottom: 1em !important;
}
.RecentPostsList h2 {
    font-size: 2rem;
}