{{ define "body" }}

<div id="landing-page">
    <div id="site-title">
        {{ $logo_src := "img/logo.png" | relURL }}
        <img src="{{ $logo_src }}" alt="{{ .Site.Title }}">
    </div>

    <div id="mycols">
        <div id="col-1">
            <h2>Blog</h2>
            <a href="/blog/">Blog</a>
            <br>
            {{ len (where .Site.RegularPages "Section" "=" "blog") }} posts 
            <a href="#" class="btn btn-primary">Go</a>
        </div>
        <div id="col-2">
            <h2>Apps</h2>
            <a href="https://boomlanguages.com/">Boom! Languages</a>
            <a href="#" class="btn btn-primary">Go</a>
        </div>
        <div id="col-3">
            <h2>Courses</h2>
            <a href="#" class="btn btn-primary">Go</a>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>

{{ end }}