---
import Headline from '~/components/ui/Headline.astro';
import Layout from '~/layouts/PageLayout.astro';
const metadata = {
  title: 'Boom Languages',
};
---

<Layout metadata={metadata}>
    <Headline
        tagline={'Language Learning'}
        title={'Boom Languages'}
        subtitle={'This page is coming soon.'}
    />
    <div class="flex flex-col items-center">
      <p>Check out Boom Languages <a class="underline" href="https://github.com/pagekey/boom-languages">on GitHub</a>.</p>
      <p>Posts about Boom: <a class="underline" href="/category/boom-languages">here</a></p>
    </div>
</Layout>
