---
import Headline from '~/components/ui/Headline.astro';
import Layout from '~/layouts/PageLayout.astro';
const metadata = {
  title: 'KeyDo',
};
---

<Layout metadata={metadata}>
    <Headline
        tagline={'Productivity'}
        title={'KeyDo'}
        subtitle={'This page is coming soon.'}
    />
    <div class="flex flex-col items-center">
      <p>Check out KeyDo <a class="underline" href="https://github.com/pagekey/keydo">on GitHub</a>.</p>
      <p>Posts about KeyDo: <a class="underline" href="/category/keydo">here</a></p>
    </div>
</Layout>
