<h2 class="text-center">Language learning for us all, by us all.</h2>
<br>
<div class="text-center">
    <a href="https://play.google.com/store/apps/details?id=com.pagekeysolutions.boom&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
        <img style="width: 300px;" class="pks-appbadge" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
    </a>
</div>
<div class="text-center">
    <a href="https://apps.apple.com/us/app/boom-languages/id1556457125?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;">
        <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1615248000&amp;h=65334506c173bc94ca606d380fea84a5" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;">
    </a>
</div>
<br>
<div class="text-center">
    <a href="https://app.boomlanguages.com/" class="btn btn-dark btn-download-boom">Try it on the web</a>
</div>
<br>